*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{font-size: 1.6em;margin-bottom: 5px;}
h2{font-size: 1.2em;}

p,li{
    line-height: 1.6em;
    font-size: .8em;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(0, 97, 255,.1);
    height: 100vh;
    width: 100%;
}

#bundle{
    display: flex;
    height: 100vh;
    align-items: center;
}

#bundle > div{
    flex: 1;
    height: 100vh;
    padding: 10px 5px;
}

div.left-side{
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align:center;
    background-color: rgba(0, 97, 255,.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

div.left-side .photo, div.left-side .detail-me div{flex: 1;margin: 10px;}

div.left-side .more-information{
    flex: auto;
    background-color: whitesmoke;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 10px 20%;
    padding: 10px 16px;
    border-radius: 4px;
}

div.left-side .more-information .sifat ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5px;
}

div.left-side .more-information .sifat ul li{
    flex: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 4px;
    margin: 3px 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

div.left-side .more-information .sifat ul li:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

div.photo>img{
    width: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

div.more-information b{margin-right: 3px;}

div.center,div.right-side{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

div.center ul li{
    list-style:disc;
    margin-left: 15px;
}

div.center>div, div.right-side>div{
    flex: 1;
    background-color: white;
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

div.center div.personality input{
    -webkit-appearance: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

div.center .slider >div {
    margin-top: 5px;
}

div.center div.personality input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
  }

div.center div.personality input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
}

div.center div.personality div.text{
    display: flex;
    justify-content: space-between;
}

div.right-side div.educ-list > table,
div.right-side .chart-skill,
div.right-side .quote p,
div.right-side .soc-icon{
    margin-top: 7px;
    width: 100%;
}

div.right-side div.educ-list > table td
{
    font-size: 12px;
    vertical-align: top;
    padding: 5px 0;
}

div.right-side div.educ-list > table b{
    color: rgba(0, 0, 0, 0.7);
}

div.right-side .skill li div{
    height: 5px;
    background-color: black;
    margin: 3px 0;
}

div.bar.hardware{
    width: 0%;
    animation: bar-hardware 1s linear 0s forwards;
}

div.bar.software{
    width: 0%;
    animation: bar-software 1s linear 1s forwards;
}

div.bar.networking{
    width: 0%;
    animation: bar-networking 1s linear 2s forwards;
}

div.bar.programming{
    width: 0%;
    animation: bar-programming 1s linear 3s forwards;
}

div.right-side .quote p{
    text-align: center;
}

div.right-side .soc-icon .fa{
    padding: 8px;   
    border-radius: 50%;
    background-color: black;
    color: rgba(255, 255, 255, .7);
}

div.right-side .soc-icon .fa:hover{
    color: white;
}

/* ANIMATION */

@keyframes bar{
    0%{
        width: 0%;
    }
}

@keyframes bar-hardware{
    100%{width: 90%;}
}

@keyframes bar-software{
    100%{width: 80%;}
}

@keyframes bar-networking{
    100%{width: 75%;}
}

@keyframes bar-programming{
    100%{width: 65%;}
}